<div class="" *ngIf="crs" [ngClass]="klasi()" [ngStyle]="stilovikartichka()">

    <ng-template #noImg>
        <p>Nema slika.</p>
    </ng-template>

    <div class="course-title" [ngStyle]="stilovinaslov()">
        <!-- KOD OD VEZHBI -->
        <!-- ova e za naslovot, prethodno beshe {{title}} -->
        {{indeks+". "+crs.description}}
    </div>
    <img width="300" alt="Angular Logo" src={{crs.iconUrl}} *ngIf="crs.iconUrl; else noImg"> <!-- ili [src]="crs.iconUrl" -->

    <div class="course-description">
        <!-- ova e za tekstot -->
        {{crs.longDescription}}
    </div>

    <div class="course-category" [ngSwitch]="crs.category">
        <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
        <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
        <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
        <div class="category" *ngSwitchDefault>Generic</div>
    </div>

    <button (click) = "onCrsViewed()">Click me to show message in console</button> <!-- beshe vo tagot (click) = "onCrsViewed()" -->
</div>
